#!/bin/bash

# flush the built-in chains
iptables -F INPUT
iptables -F FORWARD
iptables -F OUTPUT

# policy
iptables -P INPUT DROP
iptables -P FORWARD DROP
iptables -P OUTPUT DROP

# allow icmp
iptables -A INPUT -p icmp -j ACCEPT
iptables -A OUTPUT -p icmp -j ACCEPT

# allow all loopback traffic and return all traffic to 127/8 that do not use lo
iptables -A INPUT -i lo -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT
iptables -A INPUT ! -i lo -d 127.0.0.0/8 -j REJECT
iptables -A OUTPUT ! -o lo -d 127.0.0.0/8 -j REJECT

# allow some inbound tcp ports
#iptables -A INPUT -p tcp -m state --state NEW --dport 21 -j ACCEPT
#iptables -A INPUT -p tcp -m state --state NEW --dport 52000:52099 -j ACCEPT
#iptables -A INPUT -p tcp -m state --state NEW --match multiport --dports 8000:8999 -j ACCEPT

# accept udp & tcp established inbound connections
iptables -A INPUT -p udp -m state --state ESTABLISHED -j ACCEPT
iptables -A INPUT -p tcp -m state --state ESTABLISHED -j ACCEPT

# allow udp & tcp outbound traffic
iptables -A OUTPUT -p udp -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p tcp -m state --state NEW,ESTABLISHED -j ACCEPT
#iptables -A OUTPUT -p udp -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
#iptables -A OUTPUT -p udp -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
#iptables -A OUTPUT -p tcp -m state --state NEW,ESTABLISHED,RELATED,INVALID -j ACCEPT
#iptables -A OUTPUT -p tcp -m state --state NEW,ESTABLISHED,RELATED,INVALID -j ACCEPT

# forcing the existing policy, using REJECT
iptables -A INPUT -j REJECT
iptables -A FORWARD -j REJECT
iptables -A OUTPUT -j REJECT

